<div class="toBold center">
  <h4 class="title">Formulaire d'enregistrement</h4>
  <input class="button" type="button" (click)="display()" value="+">
</div>

<div class="card" *ngIf="displayForm">
  <div class="smallerSize">
      <form id="registrationForm" [formGroup]="userForm" (ngSubmit)="submitUser()">
        <label for="username">Nom d'utilisateur :</label>
        <input formControlName="username" type="text" required><br><br>
    
        <label for="firstname">Prénom :</label>
        <input formControlName="firstname" type="text" required><br><br>
    
        <label for="lastname">Nom :</label>
        <input formControlName="lastname" type="text"required><br><br>
    
        <label for="email">Email :</label>
        <input formControlName="email" type="email" required><br><br>
    
        <!--<label for="avatar">Avatar :</label>
        <input onchange="onFileSelected($event)" formControlName="avatar" type="file" accept="image/*" required><br><br>
        -->
        <input type= "submit" value="Enregistrer">
      </form>
  </div>
</div>

