.nonLinks{
    text-decoration: none;
    color: balck;
}

.nonLinks:hover {
    font-weight: bold;
}

.toBold{
    font-weight: bold;
}

.smallerSize{
    font-size: small;
}

.col-5{
   width: 10%;
   border: 3px solid green;
}

.border{
    border : 3px solid red;
    max-width: 100px;
}

.floatRigth{
    float: right;
}

.block{
    display: block;
    margin: 5px;
}

.tooltipClass{
    padding: 5px;
    margin-right: 5px;
    color: white;
    background: #191919;
    border-radius: 10px;
    border-style: inset;
    display: block;
    font-size: xx-small;
}

.listClass{
    width: 75%;
}