<div class="mt-2">
    <a class="nonLinks smallerSize ml-1" [routerLink]="'../../user-list'">Back</a>
    <a class="nonLinks smallerSize ml-1" (click)="changeView()">Edit</a>
    <input class="floatRigth" type="button" [ngbTooltip]="infoTooltip" (click)="deleteUser()" placement="top" value="X"/>
</div>

<div *ngIf="user && !updateView" class="card">
    <p class="center toBold">Profil details</p>
    <table>
        <tr>
            <td>
                <img src="{{user.avatar}}"/>
            </td>
            <td class="smallerSize pl-2">
                <span class="toBold">User Name : </span> {{user.username}} <br/>
                <span class="toBold">First Name : </span> {{user.firstname}}<br/>
                <span class="toBold">Last Name : </span> {{user.lastname}}<br/>
                <span class="toBold">Email : </span> {{user.email}}
            </td>
        </tr>
    </table>
</div>

<div *ngIf="user && updateView" class="card">
    <app-user-form></app-user-form>
</div>

<ng-template #infoTooltip class="tooltipClass">
    <span class="tooltipClass">delete the user</span>
</ng-template> 