.card{
    width: 400px;
    margin: 10px;
    margin-left: 100px;
}

.center{
    text-align: center;
    border-bottom: 3px solid black;
    width: 100%;
    margin-bottom: 0;
}

.toBold{
    font-weight: bold;
}

.smallerSize{
    font-size: x-small;
}

.pl-2{
    padding-left: 10px;
}

.nonLinks{
    text-decoration: none;
    color: white;
    border: 3px solid black;
    background-color: black;
    padding: 3px;
    font-weight: bold;
}

.mt-2{
    margin-top: 10px;
}

.ml-1{
    margin-left: 10px;
}

.tooltipClass{
    padding: 5px;
    margin-right: 5px;
    color: white;
    background: #191919;
    border-radius: 10px;
    border-style: inset;
    display: block;
    font-size: xx-small;
}

.floatRigth{
    float: right;
    margin-right: 10px;
}