.pl-2{
    padding-left: 20px;
}

.nonLinks{
    color: white;
    text-decoration: none;
}

.nonLinks:hover{
    font-weight: bold;
}

.navMenu{
    border: 3px solid black;
    background-color: black;
    display: block;
}